body {
    margin: 0;
    background-color: #cea7d2;

}

/*phones*/
@media only screen and (max-width: 980px) {
canvas{
    width: 1000px;
    height: 1800px;
    }
}

/*big tablets (ipad pro) */

@media only screen and (min-width: 1000px)  {
canvas{
    width: 750px;
    height: 1350px;
    margin-left:13%;
    }
}


/*desktops*/
@media only screen and (min-width: 1100px)  {
canvas{
    width: 400px;
    height: 720px;
    margin-left:35%;
    }
}
